:root {
    --primary-color: #fbffffff;
    --secondary-color:rgba(25, 25, 25, 0.823);
    --accent-color: #be1922ff;
    --heading-text: 'Playfair Display', serif;
    --body-text: 'Lato', sans-serif;
}

.header-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1;
    grid-row: 1;
}

.icon{
    grid-column: 2;
    grid-row: 1;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: var(--accent-color);
    align-content: left;
}

nav{
    background-color:var(--secondary-color);
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li .active a{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);

}

nav ul {display: none;}
nav ul.open {display:block;}

#hamburgerBtn span:nth-child(1) {display:block;}

#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn span:nth-child(1) {display: none;}

#hamburgerBtn.open span:nth-child(2) {display: block;}

#currentdate{
    background-color: var(--secondary-color);
    color: white;
    grid-column: 1;
}

h1{
    font-size: 2rem;
    background-color: var(--accent-color);
    color: white;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgb(31, 33, 35);
    min-width: 383px;
    margin-top: -2rem;
}



h2{
    font-size: 1.55rem;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    margin-top: 0rem;
    text-shadow: 1px 1px 2px rgb(31, 33, 35);
    min-width: 383px;
}

h3{
    font-size: 1.35rem;
    padding: 1vw;

}



p{
    color: black;
    font-weight: bold;
    padding: 1vw;
}


footer {
    display: grid;
    justify-items: center;
    padding-top: 1vw;
    background-color:var(--secondary-color); 
    color: white;
}

table{
    width: 100%;
}

#lastmod{
    color: white;
}

.sitehead{
      font-family: var(--heading-text);
      font-size: 2rem;
 
}

.nav, .foot, .para{
      font-family: var(--body-text);
      font-size: 1rem;
      font-weight: bold;
}

.h1{
    font-family: var(--heading-text);
    font-size: 1.5rem;
}
.h2{
    font-family: var(--heading-text);
    font-size: 1.35rem;
}
.h3{
    font-family: var(--heading-text);
    font-size: 1rem;
}

.sitehead, .h1, .h2, .h3{
    color: var(--accent-color);
}

td {
    border: 1px solid black;
    padding: 5px 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgba(248, 218, 218, 0.85);
  }
