@media only screen and (min-width: 32.5em) {
 
 /* ------------- HEADER --------------- */
 #hamburgerBtn{
    margin-top: 2rem;
}
      
 .main-container main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);    
}

 .hero-container{
    grid-column: 1/3;
}

h1.welcome{
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
}

h2.calltoaction{
    top: 5rem;
    left: 5rem;
    font-size: 1rem;
}

 /* -------------- MAIN CONTENT ------------ */

.news-box{
    grid-column: 1/3;
    text-align: center;
}
  
.news-box, .join-box{
    background-color: var(--secondary-color);
    border: 1px solid whitesmoke;
    color: white;
    text-align: left;
    font-family: var(--body-text);
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}
    
.join-box{
    grid-row: 4;
    grid-column: 1/3;
}

.spotlight-box{
    grid-column: 1/3;
    grid-row: 3;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
    
.spotlight-box3{
    display: none;
}

.event-box{
    min-width: 200px;
}

.weather-box{
    max-width: 240px;
}
 
 /* --------------- FOOTER ------------------ */

 .footer-container{
    display: none;
}

 .footer-container2{
    display: block;
}

.footer-container2{
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--body-text);
    align-items: center;
    margin-top: 1rem;
}

.footer-logo2{
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    margin-left: .5rem;
    margin-top: .5rem;
}

.contact2{
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}

.contact2 a{
    text-decoration: none;
    color: var(--primary-color);
}

.contact2 a:hover{
    color: var(--accent-color);
}

.address2{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
}

.author{
    grid-column: 1/4;
    grid-row: 2;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    border-top: 1px var(--primary-color) solid;
}

.author2{
    display: none;
    
}

/* ------------ DISCOVER ---------------- */

.discover-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    padding: .3rem;
}

.one {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    font-size: 1rem;
}

.two, .four, .six, .eight{
    grid-column: 1;
    margin-right: 5px;
}

.three, .five, .seven, .nine{
    grid-column: 2;
}

.dis-photo{
    background: none;
    padding: .2px;
    width: 100%;

}


 /* ------------------- JOIN --------------------- */

 .join-main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
}

.join-title{
grid-row: 1;
}

}