@media only screen and (min-width: 950px) {
 
    nav{
        display: grid;
        grid-template-columns: 1fr  1fr;
    }
    
    .linkedin{
        width: 35px;
        padding: .3rem;
    } 
    
    .twitter{
        width: 35px;
        padding: .3rem;
    }
        
    .logo-container{
        grid-column: 1/3;
        grid-row: 1/2;
        align-items: center;
        
    }

    .logo{
        width: 350px;
    }

    .social{
        grid-column: 2;
        align-items: right;
        margin-right: 5rem;
    }
    
    nav{
    
        font-size: 1.5rem;
        justify-content: center;    
    }

    #hamburgerBtn{
        display: none;
    }

    nav ul{
        display: block;
    }

    nav ul{
        display: flex;
    }

    nav ul li{
        justify-items: stretch;
    }

    nav ul li a{
    border-top: none;
    }

    .main-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .hero-container{
 
        grid-column: 2/4;
        grid-row: 1 / 3;

    }
 
    .calltoaction{
        position: absolute;
        left: 20rem;
        top: 7rem;
    }

    h1{
        grid-column: 2/4;
        position: absolute;
        left: 30rem;
        top: 10rem;
        font-size: 5rem;
        color: rgba(25, 25, 25, 0.911);
        text-shadow: 2px 2px rgb(226, 225, 225);
    }


    .news-box{
        grid-column: 2/4;
        grid-row: 3;
        margin-top: -.5rem;
    }
    
    .event-box{
        grid-column: 1;
        grid-row: 1;
    }

    .join-box{
        grid-column: 1;
        grid-row: 3;

    }

    .weather-box{
        grid-column: 1;
        grid-row: 2;
        margin-top: -1rem;
        margin-bottom: -1rem;
        max-width: 100%;
    }

    .spotlight-box{
        grid-column: 4;
        grid-row: 1/4;
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: stretch;
    }


    .spotlight-box3{
        display: block; 
    }


    .spotlight-box1{
        grid-column: 4;
        min-width: 350px;
    }

    .spotlight-box2{
        grid-column: 4;
     }

    .spotlight-box3{
       grid-column: 4;

     }

     .author{
         display: none;
     }

     .author2{
         display: block;
     }

     .author2{
        grid-column: 1/4;
        grid-row: 2;
        justify-content: center;
        justify-content: space-between;
        text-align: center;
        border-top: 1px var(--primary-color) solid;
    }

}