:root {
    --primary-color: #fffdf8;
    --secondary-color: #e9edc9;
    --third-color: #fefae0;
    --accent-color1: #ccd5ae;
    --accent-color2: #faedcd;
    --accent-color3: #d4a373;
    --font: 'PT Serif', serif;
}

/* ------------------ HOMEPAGE --------------------- */

/* -------- APPLY TO THE ENTIRE HOMEPAGE ----------- */

body {
    font-family: 'PT Serif', 'serif';
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: black;
}

/* ---------------- WEATHER ALERT ------------------- */

.weather-alert {
    display: block;
    background-color: var(--accent-color1);
    color: black;
    font-size: 12px;
}

.closeBtn {
    color: black;
    background: transparent;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

.close {
    display: none;
}

/*  ----------------- IMAGES ---------------------- */


img {
    width: 100%;
}

img.contact-icon {
    width: 20px;
}

img.icon {
    width: 30px;
}

.brkfst img {
    width: 40px;
}

div.logo picture img {
    width: 75%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.logo2 {
    display: none;
}

.carousel {
    display: none;
}

div.sm-view-hero-image {
    justify-content: center;
}

img.weather-icon-img {
    width: 50%;
    grid-column: 1;
    margin-left: 3rem;
}

/* ---------------------- HEADER ----------------------------- */
header {
    display: grid;
    grid-template-columns: 1fr;
}

/* ---------------- MENU BUTTON ------------------ */
.menuBtn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    top: 4%;
    right: 8%;
}

.menuBtn span {
    position: absolute;
    width: 1.95rem;
    height: 2px;
    background: black;
    border-radius: 4px;
    transition: 0.5s;
}

.menuBtn span:nth-child(1) {
    transform: translateY(-.9rem);
    width: 1.9rem;
    left: 0;
    margin-top: .7rem;

}

.menuBtn.active span:nth-child(1) {
    width: 2rem;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
    margin-top: 0;
}

.menuBtn span:nth-child(2) {
    transform: translateY(.9rem);
    width: 1.9rem;
    left: 0;
    margin-bottom: .7rem;
}

.menuBtn.active span:nth-child(2) {
    width: 2rem;
    transform: translateY(0px) rotate(-45deg);
    transition-delay: 0.25s;
    margin-bottom: 0;
    margin-right: 0;
}

.menuBtn.active span:nth-child(3) {
    transform: translateX(60px);
    width: 1.5rem;
    left: 1rem;
    background: none;
}

/* ----------------- NAVIGATION ------------------- */

ul.nav {
    display: none;
}

ul.nav.active {
    display: block;
}

ul.nav li {
    list-style-type: none;

}

ul.nav li a {
    display: block;
    text-decoration: none;
}

ul.nav.active {
    color: var(--accent-color3);
    padding: 0;
}

ul.nav.active li {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    align-items: center;
    padding: .8rem .3rem;
    color: var(--accent-color3);
}


ul.nav,
.active a {
    color: var(--accent-color3);
}

ul.nav.active li a:hover {
    cursor: pointer;
}

ul.nav li a.selected-page {
    font-weight: bold;
    cursor: pointer;

}

.header-address2 {
    display: none;
}

.nav-company-name {
    display: none;
}

.nav-contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -.3rem;
}

.header-phone {
    display: flex;
    align-items: center;
}

.header-map {
    display: flex;
    align-items: center;
}

.book-button {
    background-color: var(--accent-color3);
    width: 95%;
    padding: .3rem;
    border-radius: 5px;
    text-align: center;
}

/* ------------------- BODY ------------------------- */

.hotel-grid {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

/*  ------------------ OVERLAY --------------------- */

.overlay {
    position: absolute;
    top: 4%;
    height: 3rem;
    margin-top: 1rem;
    border-left: 5.5px solid var(--accent-color3);
    border-radius: 5px;
    padding-left: .3rem;
    margin-left: .5rem;
    text-shadow: 1px 1px rgb(56, 56, 56);
}

.overlay h1 {
    background-color: #ccd5ae98;
    color: var(--primary-color);
    padding: 1rem 0;
    border-radius: 5px;
    margin-top: 0;
    font-size: 1rem;
    border: 1px 0 1px 1px solid rgba(83, 82, 82, 0.527);
    box-shadow: 2px 2px rgba(51, 51, 51, 0.527);
}


/* ----------------- CONTENT ---------------------- */

/* ---------------- ROME ITALY ---------------- */

.my-choice-temple-img2 {
    display: none;
}

.rome {
    font-size: medium;
}

.info {
    font-size: smaller;
}

.my-choice-temple-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--third-color);
    padding: 0 2rem 0 2rem;
    margin-top: -3.1px;
    grid-column-gap: .5rem;
}

.list {
    list-style-type: none;
    padding-left: 0;

}

.my-choice-temple-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.my-choice-temple-phone {
    grid-column: 1;
    display: flex;
    font-size: .6rem;
    margin-left: .9rem;
    align-items: center;
}

.my-choice-temple-address {
    grid-column: 2;
    display: flex;
    font-size: .6rem;
    align-items: center;
}

/* -------------- FREE AMENITES --------------- */

.amenites-title {
    text-align: center;
}

.home-free-amenites {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 9px;
    margin: 0 auto;
    text-align: center;
}

.row1 {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2 {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3 {
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row4 {
    grid-row: 4;
    display: flex;
    justify-content: center;

}

/*---------------- WEATHER CARDS -------  */
div.weather-forcast {
    background-color: var(--third-color);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.weather-conditions {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    justify-content: center;
}

/* --------------- FOOTER -------------- */
.footer {
    display: grid;
    /* grid-template-rows: .2fr 1fr 1fr 1fr; */
    text-align: center;
}

.contact-title {
    grid-row: 1;
}

.contact-us-footer {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    font-size: 9px;
}

.footer-phone {
    margin-left: -38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-map {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer-email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.social-media-icons {
    grid-row: 3;
}

.message-us-container {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr;
}

div.message-button {
    grid-column: 1/2;
    background-color: var(--accent-color3);
    width: 40%;
    padding: .3rem;
    border-radius: 5px;

}

.message-form {
    display: none;
}

/* ----------------------------------- TEMPLE PAGE ----------------------------------------- */

.temples {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

img.temple-pic {
    border-radius: 10px;
    width: 90%;
}

.contactcontainer {
    display: flex;
    font-size: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h4.temple-h {
    text-align: left;
}

.temple-p {
    margin-left: 1rem;
}

.address {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.phone,
.email {
    display: flex;
    align-items: center;

}

.phemcontainerl {
    display: flex;
    align-items: center;

}



.contacticon {
    width: 20px;
}

.likeBtn {
    display: flex;
    background-color: var(--secondary-color);
    height: 60px;
}

.heart-icon {
    width: 30px;
    cursor: pointer;
}

.show {
    display: block;
}

.saved-heart {
    display: none;
}

.saved-heart {
    width: 20px;
}

/* ------------------------------------------ RESERVATION  PAGE ---------------------------------------------- */

.reservation-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.temple-inn-img {
    width: 95%;
    padding: .5rem 2%;
    border-radius: 1rem;
}

.reservation-container p {
    padding: 0 6%;
}

.reservation-container form {
    margin-top: 1rem;
    border: 1.5px solid var(--secondary-color);
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 30rem;
    background-color: var(--secondary-color);
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 0 var(--secondary-color);
}

.reservation-container form fieldset {
    margin: 1rem;
    padding: .5rem 2%;
    border-radius: 10px;
    border: none;
}

.reservation-container form legend {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

.reservation-container form label input,
for label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px var(--secondary-color);
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 90%;
    background-color: var(--primary-color);
}

.reservation-container form label input:required {
    border-left: var(--accent-color3) solid 3px;
}

.reservation-container .button {
    margin-left: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border: none;
    padding: .5rem;
    background-color: var(--accent-color3);
    border-radius: 5px;
}

/* --------------------------------------- SERVICES PAGE ------------------------------------------- */

.services-img {
    width: 85%;
    padding-top: .5rem;
    padding-left: .5rem;
}

.sub-page1,
.sub-page2 {
    display: grid;
    grid-template-columns: .7fr .7fr;
    background-color: var(--accent-color1);
    margin-top: 1rem;
}

.service-info h3 {
    text-decoration: underline;
    font-size: smaller;
    margin: 0;
    padding-left: 6px;
}

.service-info p {
    margin: 0;
    font-size: smaller;
    padding-left: 6px;
}

.service-info a {
    font-style: italic;
    color: var(--accent-color3);
    text-decoration: underline;
    font-size: small;
    margin: 0;
    padding-left: 6px;
}